* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    /* cursor: url('./assets/apple-download-black.svg'), auto; */
}

body, #root {
    overflow-x: hidden;
    position: relative;
}
  
a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.flex__row {
    display: flex;
    flex-direction: row;
}

.flex__row-rev {
    display: flex;
    flex-direction: row-reverse;
}
.flex__col {
    display: flex;
    flex-direction: column;
}

.ac {
    align-items: center;
}

.jc {
    justify-content: center;
}
.blur {
    filter: blur(8px);
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000040;
    z-index: 3;
    top: 0;
}

.gradient__bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 0% 0%, var(--primary-color) 0%, #7DAEFF 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, var(--primary-color) 0%, #7DAEFF 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, var(--primary-color) 0%, #7DAEFF 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, var(--primary-color) 0%, #7DAEFF 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, var(--primary-color) 0%, #7DAEFF 100%);
}

@media screen and (max-width: 1050px) {
    .section__padding {
        padding: 3rem 4rem;
    }

    .section__margin {
        margin: 3rem 4rem;
    }
}
 
@media screen and (max-width: 700px) {
    .section__padding {
        padding: 2rem 3rem;
    }

    .section__margin {
        margin: 2rem 3rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 1rem;
    }

    .section__margin {
        margin: 1rem;
    }
}