@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(89.97deg, var(--primary-color) 1.84%, #92b7f3 102.67%);
  --gradient-bg: linear-gradient(103.22deg, var(--primary-color) -13.86%, #92b7f3 99.55%);
  --primary-color: #5926ff;
  --primary-blue-hover: #287afe;
  --secondary-blue: #74a9ff;
  --background-light: #d6e3f3;
  --background-dark: #00142d;
  --color-subtext: #FF8A71;
  --primary-green: #17960e;
  --primary-red: #af1515;
  --dashboard-line: #aaaaaa50;
}
